<!DOCTYPE html>
<html>
<head>
    <title>angular-growl demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-mocks.js"></script>
    <link href="http://netdna.bootstrapcdn.com//twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">-->

    <script src="../src/ngDynamicColumns.js"></script>
    <script src="../src/ColumnHeaderDirective.js"></script>
    <script src="../src/DynamicColumnService.js"></script>
    <script src="../src/DynamicRowDirective.js"></script>

    <!--<link href="../src/growl.css" rel="stylesheet">-->
    <!--<script src="../src/growl.js"></script>-->
    <!--<script src="../src/growlDirective.js"></script>-->
    <!--<script src="../src/growlFactory.js"></script>-->
    <script src="demo.js"></script>
</head>
<body ng-app="demo">

<style>
    .manufacturerClass {
        width: 12%;
    }

    .modelClass {
        width: 12%;
    }

    .descClass {
        width: 12%;
    }

    .ramClass {
        width: 12%;
    }

    .cpuClass {
        width: 12%;
    }

    .yearClass {
        width: 12%;
    }

    .lteClass {
        width: 12%;
    }

    .resolutionClass {
        width: 12%;
    }

</style>

<div ng-controller="demoCtrl">
    <div class="text-center container"><h1>ngDynamicColumns Demo site</h1></div>

    <div class="container">
        <div class="well row">
            <table border="1">
                <thead>
                    <tr column-header="columns"></tr>
                </thead>
                <tbody class="ui-datatable-data ui-widget-content">
                    <tr ng-repeat="phone in phones track by phone.id" dynamic-row="columns"></tr>
                </tbody>
            </table>
        </div>
        <div class="well row">
            <div ng-repeat="column in columns" >
                ID: <span ng-bind="column.id"></span> visible: <input type="checkbox" ng-model="column.visible" ng-change="columnChanged(column)" >
            </div>
        </div>

    </div>

</div>

</body>
</html>